.containerImg {
  background-color: #Ffffff;
}

.containerImg .img {
  max-width: auto;
}

:global(.vtex-store-components-3-x-imageElementLink--carousel){
  width: auto;
}

:global(.vtex-slider-layout-0-x-imageElement--carousel){
  width: auto!important;
}