/* add transitions */
:global(.vtex-sticky-layout-0-x-container)
  :global(.vtex-store-components-3-x-logoLink),
:global(.vtex-sticky-layout-0-x-container)
  :global(.vtex-minicart-2-x-openIconContainer),
:global(.vtex-sticky-layout-0-x-container)
  :global(.vtex-store-components-3-x-searchBarContainer) {
  transition: all 0.3s ease;
  display: block;
}

:global(.vtex-minicart-2-x-openIconContainer) {
  padding: 0;
}

:global(.vtex-button__label) {
  padding: 10px;
}

:global(.vtex-login-2-x-profileIcon) {
  width: 30px;
}

:global(.vtex-store-drawer-0-x-menuIcon) {
  color: #ffffff;
}

/* desktop/mobile main header padding and background transitions */
:global(.vtex-flex-layout-0-x-flexRowContent--main-header),
:global(.vtex-flex-layout-0-x-flexRowContent--main-header-mobile) {
  transition: background 0.3s ease;
  will-change: padding, background;
}

/* main header desktop has a bigger padding when not stuck */
:global(.vtex-flex-layout-0-x-flexRowContent--main-header) {
  padding-top: 0.25rem;
  padding-bottom: 0.5rem;
}

/* add a box-shadow to desktop/mobile header when stuck */
:global(.vtex-sticky-layout-0-x-wrapper--stuck)
  :global(.vtex-flex-layout-0-x-flexRowContent--main-header),
:global(.vtex-sticky-layout-0-x-wrapper--stuck)
  :global(.vtex-flex-layout-0-x-flexRowContent--main-header-mobile) {
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.1);
}

/*
 * remove the extra padding when stuck from the desktop header
 * we add a transition only when "stuck" for the "unstick" step seem faster
 */
:global(.vtex-sticky-layout-0-x-wrapper--stuck)
  :global(.vtex-flex-layout-0-x-flexRowContent--main-header) {
  transition: padding 0.3s ease, background 0.3s ease;
  padding-top: 0;
  padding-bottom: 0;
}

/* if supported add some translucency to the desktop/mobile header background */
@supports (backdrop-filter: blur(5px)) {
  :global(.vtex-sticky-layout-0-x-wrapper--stuck)
    :global(.vtex-flex-layout-0-x-flexRowContent--main-header),
  :global(.vtex-sticky-layout-0-x-wrapper--stuck)
    :global(.vtex-flex-layout-0-x-flexRowContent--main-header-mobile) {
    backdrop-filter: blur(8px);
  }

  /* header background when stuck and not hovered */
  :global(.vtex-sticky-layout-0-x-wrapper--stuck):not(:hover)
    :global(.vtex-flex-layout-0-x-flexRowContent--main-header),
  :global(.vtex-sticky-layout-0-x-wrapper--stuck):not(:hover)
    :global(.vtex-flex-layout-0-x-flexRowContent--main-header-mobile) {
    background: #ffffff;
  }
}

/* stick wrapper with the same color as the desktop/mobile header */
:global(.vtex-sticky-layout-0-x-wrapper--sticky-header) {
  background-color: transparent;
}

:global(.vtex-flex-layout-0-x-flexRowContent--main-header-mobile) {
  background-color: #ffffff;
}

/* resize the logo for neat effect */
:global(.vtex-sticky-layout-0-x-wrapper--stuck)
  :global(.vtex-store-components-3-x-logoLink) {
  transform: scale(0.85);
}

@media (prefers-reduced-motion: reduce) {
  :global(.vtex-sticky-layout-0-x-container)
    :global(.vtex-store-components-3-x-logoLink),
  :global(.vtex-sticky-layout-0-x-container)
    :global(.vtex-minicart-2-x-openIconContainer),
  :global(.vtex-sticky-layout-0-x-container)
    :global(.vtex-store-components-3-x-searchBarContainer),
  :global(.vtex-sticky-layout-0-x-wrapper--stuck)
    :global(.vtex-flex-layout-0-x-flexRowContent--main-header) {
    transition: none;
  }
}

:global(.vtex-rich-text-0-x-paragraph--ahorra),
:global(.vtex-category-menu-2-x-closeIcon){
  color: #ff0000;
  font-weight: 500;
  
}

:global(.vtex-rich-text-0-x-link--ahorra){
  text-decoration: none;
  color: #ff0000;
  font-family: 'Inter Medium';
}

:global(.vtex-rich-text-0-x-strong--ahorra)
  :global(.vtex-rich-text-0-x-link--ahorra){
    font-family: 'Inter Medium';
    color: #194681;
    font-weight: 400;
  }

:global(.vtex-rich-text-0-x-paragraph--club),
:global(.vtex-store-drawer-0-x-menuIcon),
:global(.vtex-category-menu-2-x-plusIcon),
:global(.vtex-category-menu-2-x-menuIcon){
  color: #194681;
  font-weight: 500;
}

:global(.vtex-minicart-2-x-cartIcon),
:global(.vtex-login-2-x-profileIcon){
  width: 0px;
  height: 0px;
}
:global(.vtex-minicart-2-x-openIconContainer)
  :global(.vtex-button)
    :global(.vtex-button__label)::before{
  content: url('https://ofixmx.myvtex.com/arquivos/carrito.PNG');
  position: relative;
  bottom: 2px;
}


:global(.vtex-minicart-2-x-openIconContainer)
  :global(.vtex-button)
    :global(.vtex-button__label){
      padding: 0%;
}






/*:global(.vtex-minicart-2-x-openIconContainer)
  :global(.vtex-button)
    :global(.vtex-button__label):hover::before{
  content: url('https://ofixmx.myvtex.com/arquivos/carritoh.PNG');
}



:global(.vtex-login-2-x-container)
  :global(.vtex-button)
    :global(.vtex-button__label):hover::before{
  content: url('https://ofixmx.myvtex.com/arquivos/usuarioh.PNG');
}


}*/

:global(.vtex-minicart-2-x-minicartQuantityBadge){
  right: 1px;
}

:global(.vtex-login-2-x-container)
  :global(.vtex-button)
    :global(.vtex-button__label)::before{
  content: url('https://ofixmx.myvtex.com/arquivos/usuario.PNG');
}



:global(.vtex-menu-2-x-styledLinkContainer--itemcatgs),
:global(.vtex-menu-2-x-styledLinkContainer--itemservicios),
:global(.vtex-menu-2-x-styledLinkContainer--itemescucha),
:global(.vtex-menu-2-x-styledLinkContainer--itemofers){
  margin-right: 43px !important;
}


:global(.vtex-menu-2-x-styledLinkContainer--itemcatgs):hover,
:global(.vtex-menu-2-x-styledLinkContainer--itemservicios):hover,
:global(.vtex-menu-2-x-styledLinkContainer--itemescucha):hover{
  border-bottom: 2px solid #194681;
}

:global(.vtex-menu-2-x-styledLinkContainer--itemofers):hover{
  border-bottom: 2px solid #ff0000;
}

:global(.vtex-rich-text-0-x-link--necesitas),
:global(.vtex-menu-2-x-styledLinkContent--itemcatgs),
:global(.vtex-menu-2-x-styledLinkContent--itemservicios),
:global(.vtex-menu-2-x-styledLinkContent--itemescucha){
  color: #7c7c7c;
  font-family: 'Inter Medium';
}

:global(.vtex-menu-2-x-styledLinkContent--itemofers){
  color: #ff0000;
  font-family: 'Inter Medium';
}




:global(.vtex-menu-2-x-styledLink--itemcatgs)
:global(.vtex-menu-2-x-styledLinkContent--itemcatgs)::before{
  content: url(assets/hamenu16x16.png);
  position: relative;
  right: 9px;
  top: 1px;
  width: 13px;
}

:global(.vtex-menu-2-x-styledLink--itemescucha)
:global(.vtex-menu-2-x-styledLinkContent--itemescucha)::before{
  content: url(assets/audio16x16.png);
  position: relative;
  right: 9px;
  width: 13px;
}

:global(.vtex-menu-2-x-styledLink--itemservicios)
:global(.vtex-menu-2-x-styledLinkContent--itemservicios)::before{
  content: url(assets/star16x16.png);
  position: relative;
  right: 9px;
  width: 13px;
}

:global(.vtex-menu-2-x-styledLink--itemofers)
:global(.vtex-menu-2-x-styledLinkContent--itemofers)::before{
  content: url(assets/offer16x16.png);
  position: relative;
  right: 9px;
  width: 13px;
}

:global(.vtex-rich-text-0-x-paragraph--club){
  padding-left: 3px;
}


:global(.vtex-flex-layout-0-x-flexRowContent--rowaccesos)
  :global(.vtex-flex-layout-0-x-stretchChildrenWidth){
  width: auto !important;
}
:global(.vtex-store-components-3-x-imageElement--imgwish){
  padding-top: 6px;
  padding-left: 13px;
  padding-right: 13px;
}

/*:global(.vtex-store-components-3-x-imageElement--imgwish):hover{
  content: url(https://ofixmx.myvtex.com/arquivos/wishlisth.png);
}*/

:global(.vtex-store-components-3-x-imageElementLink--imgwish){
  text-align: center;
}

:global(.vtex-minicart-2-x-minicartQuantityBadge){
  right: -9px;
  top: 2px;
}


:global(.vtex-store-components-3-x-autoCompleteOuterContainer--srchdraw)
  :global(.vtex-input)
    :global(.vtex-input-prefix__group){
      width: auto;
      height: 34px;
}

:global(.vtex-store-components-3-x-autoCompleteOuterContainer--srchdraw){
  padding-left: 5px;
  padding-right: 5px;
}

:global(.vtex-menu-2-x-styledLinkContent--menmob){
  color: #000000;
}

:global(.vtex-menu-2-x-styledLinkContent--itemcatgs),
:global(.vtex-menu-2-x-styledLinkContent--itemofers),
:global(.vtex-menu-2-x-styledLinkContent--itemescucha),
:global(.vtex-menu-2-x-styledLinkContent--itemservicios){
  justify-content: flex-start;
}

:global(.vtex-store-components-3-x-logoContainer){
  padding: 0% !important;
}

/*:global(.vtex-flex-layout-0-x-flexCol--ubicacion){
  margin-left: 40px;
  margin-right: 60px;
}


:global(.vtex-flex-layout-0-x-flexCol--ubicacion){
  margin-left: 69px !important;
}*/

:global(.vtex-flex-layout-0-x-flexRow--catmensticky){
  background-color: #f0f0f0 !important;
  border-top: 1px solid #e1e1e1;
  border-bottom: 1px solid #e1e1e1;
}
:global(.vtex-flex-layout-0-x-flexRowContent--catmensticky){
  height: 50px;
}


:global(.vtex-flex-layout-0-x-flexRowContent--catmensticky),
:global(.vtex-flex-layout-0-x-flexRowContent--notphone),
:global(.vtex-flex-layout-0-x-flexRowContent--main-header){
  padding-left: 5%;
  padding-right: 5%;
}


:global(.vtex-menu-2-x-styledLinkContent--titcatmen){
  font-family: 'Inter Medium';
    color: #194681;
    font-size: 16px;

}

:global(.vtex-menu-2-x-menuItem--catprinmen)
:global(.vtex-menu-2-x-styledLinkContainer--catprinmen)
:global(.vtex-menu-2-x-styledLinkContent--catprinmen){
  color: #7c7c7c !important;
}


:global(.vtex-flex-layout-0-x-flexRowContent--rowfoosm){
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: .5rem;
}

:global(.vtex-menu-2-x-menuContainerNav){
  width: 100%;
}

:global(.vtex-menu-2-x-styledLinkContent--itemcatgsdraw){
  color: #194681;
}

:global(.vtex-store-components-3-x-notificationContent--notifbar){
  color:#ff0000;
}

:global(.vtex-store-components-3-x-notificationBarInner--notifbar){
  background-color: #ffffff;
  min-height: 2.5rem !important;
}