.notificationBarContainer {
  background-color: #000000;
  color: #ffffff;
  font-weight: 700;
  font-size: 12px;
  text-decoration: none;
}

.searchBarContainer :global(.vtex-styleguide-9-x-input) {
  max-width: 208px;
}

.infoCardContainer--info-card-home {
  max-width: 1520px;
  max-height: 750px;
  height: 750px;
  margin: 0 auto;
  background-color: #e6f1e6;
  padding: 0px;
  margin-top: 60px;
}

.infoCardContainer--info-card-categorias-1 {
  max-width: 470px;
  max-height: 800px;
  height: 800px;
  margin: 0 auto;
  background-color: #e6f1e6;
  padding: 0px;
  margin-top: 60px;
}

.infoCardContainer--info-card-categorias-2 {
  max-width: 730px;
  height: 530px;
  margin: 0 auto;
  background-color: #e6f1e6;
  padding: 0px;
  margin-top: 60px;
}

.relative.vtex-store-video-1-x-videoContainer.vtex-store-video-1-x-videoContainer--video-background {
  margin: 60px;
}

.vtex-store-footer-2-x-footerLayout {
  background: linear-gradient(180deg, #1f60f6 0%, #0fd3f4 100%);
}

.gray {
  color: #fff;
}



:global(.vtex-store-components-3-x-form--news) {
  max-width: 55rem;
}

.newsletter .container {
  padding: 60px 10px;
}

.label {
  color: #fff;
  font-size: 26px;
}

.inputGroup {
  padding-bottom: 4px;
  display: flex;
  color: #fff;
}

.inputGroup :global(.vtex-styleguide-9-x-hideDecorators) {
  background-color: #ffffff;
  color: #000000;
  border: none;
}

.inputGroup :global(.vtex-styleguide-9-x-hideDecorators)::placeholder {
  color: #000000;
  font-size: 16px;
}

.inputGroup :global(.vtex-button) {
  background-color: #000000;
  color: #fff;
  border: none;
  margin-right: -24px;
}

.buttonContainer {
  padding-top: 0px;
}

.imageElement--storePrint {
  max-height: 300px;
  margin-bottom: 20px;
}

:global(.vtex-store-components-3-x-buttonContainer) {
  padding-left: 0;
}

.skuSelectorContainer {
  margin: 1rem 0;
}

@media only screen and (min-width: 640px) {


  .newsletter .container {
    padding: 30px 140px;
  }

  .label {
    font-size: 40px;
  }

  .infoCardContainer--info-card-home .infoCardTextContainer {
    width: 30%;
  }

  .infoCardContainer--info-card-home .infoCardImageContainer {
    width: 70%;
  }

  .imageElement--storePrint {
    margin-bottom: 0px;
    max-height: 600px;
  }

  
}



@media only screen and (max-width: 640px) {
  .infoCardContainer--info-card-categorias-1 {
    max-width: 100%;
    max-height: 115px;
    margin: 0 auto;
    background-color: #e6f1e6;
    padding: 0px;
    margin-top: 10px;
  }

  .infoCardContainer--info-card-categorias-2 {
    max-width: 100%;
    max-height: 115px;
    margin: 0 auto;
    background-color: #e6f1e6;
    padding: 0px;
    margin-top: 10px;
  }
  :global(.vtex-search-result-3-x-galleryItem--small){
    flex-basis: 100% !important;
    max-width: 100% !important;
  }

  :global(.vtex-store-components-3-x-container--news){
    padding-top: 0px !important;
    padding-right: 34px !important;
  }
  
  :global(.vtex-product-summary-2-x-brandName),
  :global(.vtex-add-to-cart-button-0-x-buttonText){
    font-size: 12px !important;
  }

  

  :global(.vtex-product-summary-2-x-description){
    font-size: 12px !important;
  }

  :global(.vtex-flex-layout-0-x-flexColChild--cart)
    :global(.vtex-button)::before{
      content: url(assets/addcartprd.png) !important;
    }
    :global(.vtex-wish-list-1-x-wishlistIconContainer)
      :global(.vtex-button)::before{
        content: url(assets/wishlist20.png) !important;
      }

  :global(.vtex-product-price-1-x-listPriceValue--summary)
      :global(.vtex-product-price-1-x-listPriceValue--summary)
        :global(.vtex-product-price-1-x-currencyContainer--summar){
          font-size: 12px !important;
  }


:global(.vtex-store-components-3-x-searchBarInnerContainer)
  :global(.vtex-input-prefix__group){
    border-radius: 10px !important;
  }

:global(.vtex-flex-layout-0-x-flexColChild--colinfocard){
  padding-top: 15px;
  padding-bottom: 15px;
}


}



:global(.vtex-slider-layout-0-x-sliderLayoutContainer--pow){
  padding-bottom: 15px !important;
}

.productImagesContainer--quickview .carouselContainer {
  justify-content: flex-start;
}

.productImagesContainer--quickview .productImageTag {
  object-fit: cover !important;
}

.productImagesContainer--quickview .carouselGaleryThumbs {
  display: none;
}

.productImagesContainer--quickview .carouselGaleryCursor {
  margin: 0;
  padding: 0;
  width: 100%;
}

.productNameContainer {
  color: #3f3f40;
  font-weight: bold;
  font-size: 30px;
}

:global(.vtex-store-components-3-x-imageElementLink--bannerprinc){
  text-align: center;
}



/* CSS HOME */


:global(.vtex-rich-text-0-x-container--notbar),
:global(.vtex-rich-text-0-x-container--phone){
  background-color: #ffffff;
  color: #ff0000;
  font-family: 'Inter Medium' !important;
}

:global(.vtex-rich-text-0-x-paragraph--notbar),
:global(.vtex-rich-text-0-x-paragraph--phone){
  margin-bottom: 11px;
}




:global(.vtex-flex-layout-0-x-flexRow--main-header),
:global(.vtex-flex-layout-0-x-flexRow--catmensticky),
:global(.vtex-flex-layout-0-x-flexRow--notphone){
  background-color: #ffffff;
  border-bottom: 1px solid #e1e1e1;
}

:global(.vtex-category-menu-2-x-departmentLink){
  color: #000000;
}


:global(.vtex-store-components-3-x-label--news){
  color:#194681;
  border-bottom:2px solid #194681;
}

:global(.vtex-input-prefix__group){
  border: 2px solid #e7e7e7;
  background-color: #d2dbe6;
}

:global(.vtex-flex-layout-0-x-flexRow--slibann){
  padding-top: 36px;
  padding-bottom: 15px;
  padding-left: 5%;
  padding-right: 5%;

}

:global(.vtex-flex-layout-0-x-flexCol--trusty){
  background-color: #efefef;
  padding: 15px;
  margin-left: 15px;
  margin-right: 15px;
}

:global(.vtex-rich-text-0-x-paragraph--titenv){
  margin: 0px;
  color:#194681;
  font-weight: 900;
  font-size: 18px;
}
:global(.vtex-rich-text-0-x-paragraph--txtenv){
  margin-bottom: 0%;
  margin-top: 0px;
  font-size: 14px;
}

:global(.vtex-rich-text-0-x-wrapper--titwl)
  :global(.vtex-rich-text-0-x-heading-level-3),
:global(.vtex-rich-text-0-x-wrapper--necesario){
  color: #194681;
}

:global(.vtex-rich-text-0-x-paragraph--txtns){
  margin-bottom: 0%;
  margin-top: 5px;
  font-size: 18px;
}

:global(.vtex-rich-text-0-x-headingLevel2--titns){
  color:#194681;
  margin-bottom: 0px;
  border-bottom: 2px solid #194681;
}

:global(.vtex-store-components-3-x-container--news){
  padding-top: 0px !important;
}

:global(.vtex-flex-layout-0-x-flexRowContent--rowns){
  margin-top: 50px;
}

:global(.vtex-store-components-3-x-buttonContainer--news) :global(.vtex-button){
  background-color: #194681;
}

:global(.vtex-slider-layout-0-x-caretIcon){
  color:#194681;
}

:global(.vtex-slider-layout-0-x-sliderTrackContainer--categorias), 
:global(.vtex-flex-layout-0-x-flexRow--bann-shelf),
:global(.vtex-flex-layout-0-x-flexRow--rowic),
:global(.vtex-rich-text-0-x-container--necesario),
:global(.vtex-flex-layout-0-x-flexRowContent--trusty){
  margin-top: 35px;
}

:global(.vtex-product-highlights-2-x-productHighlightText){
  background: #ff0000 !important;
  color: #fff !important;
}

:global(.vtex-flex-layout-0-x-flexColChild--check)
:global(.vtex-button){
  background-color: #ffffff;
  color: #194681;
  border: 1px solid #194681;
  text-transform: capitalize;
}


:global(.vtex-flex-layout-0-x-flexColChild--check)
:global(.vtex-button):hover{
  background-color: #194681;
  color: #ffffff;
  border: 1px solid #194681;
  text-transform: capitalize;
}

:global(.vtex-flex-layout-0-x-flexColChild--cart)
:global(.vtex-button){
  background-color:#194681;
  font-size: 0px;
  border: 1px solid #194681;
}

:global(.vtex-flex-layout-0-x-flexColChild--cart)
:global(.vtex-button)::before{
  content: url('https://ofixmx.vteximg.com.br/arquivos/addcart.PNG');
}

:global(.vtex-search-result-3-x-filterMessage), 
:global(.vtex-search-result-3-x-categoryItemName),
:global(.vtex-search-result-3-x-filterTitle),
:global(.vtex-search-result-3-x-filterPopupTitle),
:global(.vtex-product-quantity-1-x-quantitySelectorTitle--cantprod),
:global(.vtex-checkout-summary-0-x-summaryItemLabel),
:global(.vtex-checkout-summary-0-x-price){
  color:#194681;
}

:global(.vtex-search-result-3-x-categoryItemChildren){
  color: #000000;
}

:global(.vtex-search-result-3-x-filter__container){
  border-bottom: 1px solid #194681;
}


:global(.vtex-breadcrumb-1-x-link ),
:global(.vtex-breadcrumb-1-x-arrow--1),
:global(.vtex-breadcrumb-1-x-arrow--2),
:global(.vtex-search-result-3-x-totalProductsMessage),
:global(.vtex-search-result-3-x-totalProducts--layout),
:global(.vtex-search-result-3-x-orderByText){
  color: #8f8f8f;
}

:global(.vtex-search-result-3-x-galleryTitle--layout){
  text-align: center;
  margin-top: 0px;
  margin-bottom: 0px;
}

:global(.vtex-store-components-3-x-notificationBarInner--notifbar),
:global(.vtex-flex-layout-0-x-flexRowContent--notphone ){
  padding-bottom:5px;
  background: /* gradient can be an image */
    linear-gradient(
      to right, 
      rgba(253, 1, 2,1) 12%,
      rgba(130, 74, 125,1) 47%,
      rgba(1, 151, 254,1) 100%
    )
    left 
    bottom
    #fff    
    no-repeat; 
  background-size:100% 5px ;/* if linear-gradient, we need to resize it */     
}

:global(.vtex-flex-layout-0-x-flexCol--productmain){
  border-radius: 2%;
  border: 1px solid #d3d3d3;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 50px;
  padding-right: 50px;
}

:global(.vtex-flex-layout-0-x-flexColChild--colinfo),
:global(.vtex-flex-layout-0-x-flexCol--colbenef){
  border: 1px solid #d3d3d3;
}

:global(.vtex-flex-layout-0-x-flexColChild--colinfo){
  border-top-left-radius: 2%;
  border-bottom-left-radius: 2%;
  padding: 3%;
}

:global(.vtex-flex-layout-0-x-flexCol--colbenef){
  border-top-right-radius: 2%;
  border-bottom-right-radius: 2%;
  padding: 3%;
}



:global(.vtex-tab-layout-0-x-container--home){
  padding-left: 10px;
  padding-right: 10px;
}

:global(.vtex-tab-layout-0-x-container--home)
  :global(.vtex-tab-layout-0-x-listContainer){
    justify-content: left;
    padding-left: 10%;
  }


:global(.vtex-tab-layout-0-x-listItemActive){
  border-bottom: 2px solid #194681;
}


:global(.vtex-tab-layout-0-x-container--home)
    :global(.vtex-button){
      background-color: #ffffff;
      color: #000000;
      border: 0px;
    }
 
:global(.vtex-tab-layout-0-x-listItemActive)
  :global(.vtex-button){
    border: 0px;
  }




:global(.vtex-flex-layout-0-x-flexColChild--preciolista)
  :global(.vtex-product-price-1-x-currencyCode),
:global(.vtex-flex-layout-0-x-flexColChild--preciolista)
  :global(.vtex-product-price-1-x-currencyInteger),
:global(.vtex-flex-layout-0-x-flexColChild--preciolista)
  :global(.vtex-product-price-1-x-currencyDecimal),
:global(.vtex-flex-layout-0-x-flexColChild--preciolista)
  :global(.vtex-product-price-1-x-currencyFraction){
    color:#FD0102;
}

:global(.vtex-reviews-and-ratings-2-x-summaryContainer){
  margin-bottom: 7px;
}

:global(.vtex-product-identifier-0-x-product-identifier__label){
  font-size: 0;
}
:global(.vtex-product-identifier-0-x-product-identifier__label)::before{
  font-size: 16px;
  content: "Código";
  color:#000000;
}

:global(.vtex-product-identifier-0-x-product-identifier__separator),
:global(.vtex-product-identifier-0-x-product-identifier__value),
:global(.vtex-product-list-0-x-unitPriceContainer)
  :global(.vtex-product-list-0-x-unitPricePerUnitCurrency),
:global(.vtex-product-list-0-x-unitPriceContainer)
  :global(.vtex-product-list-0-x-unitPriceMeasurementUnit){
  color: #000000;
}

:global(.vtex-flex-layout-0-x-flexColChild--colid){
  padding-top: 16px;
}

:global(.vtex-rich-text-0-x-paragraph--txtshare){
  margin-top: 13px;
  margin-bottom: 0px;
  color:#194681;
}

:global(.vtex-rich-text-0-x-paragraph--txtshare)::before{
  content: url("https://ofixmx.myvtex.com/arquivos/share.png");
}

:global(.vtex-flex-layout-0-x-flexColChild--btnagregar),
:global(.vtex-flex-layout-0-x-flexColChild--btnahora){
  margin-top: 22px;
}


:global(.vtex-flex-layout-0-x-flexColChild--btnagregar)
  :global(.vtex-button){
    /* background-color: #194681;*/
    border: 1px solid transparent; 
    background: linear-gradient(to bottom, #1980FC, #1B5DB5);
    width: 155px;    
}

:global(.vtex-flex-layout-0-x-flexColChild--btnagr)
  :global(.vtex-button){
    background: linear-gradient(to bottom, #1980FC, #1B5DB5);
    border: 1px solid transparent; 
  }
:global(.vtex-flex-layout-0-x-flexColChild--btnagr)
  :global(.vtex-button)
    :global(.vtex-button__label){
      text-transform: capitalize;
}

:global(.vtex-toast){
  background: linear-gradient(to bottom, #1980FC, #1B5DB5);
}
:global(.vtex-flex-layout-0-x-flexCol--btnahr)
  :global(.vtex-button){
    background-color: #ffffff;
    border: 1px solid #194681;
    color:#194681;
}
:global(.vtex-flex-layout-0-x-flexColChild--btnahora)
  :global(.vtex-button){
    background-color: #ffffff;
    border: 1px solid #194681;
    color:#194681;
    width: 163px;
  }
:global(.vtex-flex-layout-0-x-flexCol--btnahr)
  :global(.vtex-button)
    :global(.vtex-button__label),
:global(.vtex-flex-layout-0-x-flexColChild--btnahora)
  :global(.vtex-button)
    :global(.vtex-button__label){
      text-transform: capitalize;
    }


    
:global(.vtex-flex-layout-0-x-flexColChild--btnagr)
  :global(.vtex-button)
    :global(.vtex-button__label)::before,
:global(.vtex-flex-layout-0-x-flexColChild--btnagregar)
  :global(.vtex-button)
    :global(.vtex-button__label)::before{
      content: url(assets/addcartprd.png);
      position: relative;
      right: 4px;
  }

  :global(.vtex-flex-layout-0-x-flexColChild--btnagregar)
    :global(.vtex-button)
      :global(.vtex-button__label){
       text-transform: capitalize;
  }

:global(.vtex-store-components-3-x-shippingContainer)
    :global(.vtex-address-form__postalCode)
      :global(.vtex-input__label){
        font-size: 0px;
}

:global(.vtex-store-components-3-x-shippingContainer)
  :global(.vtex-address-form__postalCode)
    :global(.vtex-input__label)::after{
      content: "Calcula tu costo de envío";
      color: #194681;
      font-size: 14px;
}

:global(.vtex-store-components-3-x-shippingContainer)
    :global(.vtex-address-form__postalCode)
      :global(.vtex-input__label)::before{
        content: url('https://ofixmx.vteximg.com.br/arquivos/shipp.png');
        position: relative;
        top: 4px;
}

:global(.vtex-flex-layout-0-x-flexRow--rowprod)
  :global(.vtex-flex-layout-0-x-flexRowContent){
    margin-bottom: 0%;
  }

:global(.vtex-minicart-2-x-minicartCheckoutButton)
  :global(.vtex-button){
  background-color: #194681;
  border: 1px solid #194681;
}

:global(.vtex-minicart-2-x-closeIconButton){
  color:#FD0102;
}

:global(.vtex-minicart-2-x-minicartTitle){
  color:#194681;
  border-bottom: 1px solid #194681;
}

:global(.vtex-product-list-0-x-productPrice){
  color: #194681;
  font-weight: 600;
}

:global(.vtex-product-list-0-x-productPriceCurrency){
  color: #8f8f8f;
}

:global(.vtex-product-price-1-x-savings--summary){
  color: #ffffff;
  padding: 5px;
  font-size: 13px;
}

:global(.vtex-store-components-3-x-inputGroup--news)
  :global(.vtex-input-prefix__group)
    :global(.vtex-styleguide-9-x-input){
      background-color: transparent;
}

:global(.vtex-store-components-3-x-inputGroup--news)
  :global(.vtex-input-prefix__group){
    background-color: #efefef;
  }

  :global(.vtex-store-components-3-x-inputGroup--news)
  :global(.vtex-input-prefix__group)
    :global(.vtex-styleguide-9-x-input)::-webkit-input-placeholder{
      color: #194681;
      font-weight: 600;
}

:global(.vtex-store-components-3-x-searchBarContainer){
  padding-top: 15px !important;
}

:global(.vtex-store-components-3-x-searchBarInnerContainer)
  :global(.vtex-input-prefix__group){
    width: 500px;
    height: 52px;
    border-radius: 15px;
}

:global(.vtex-store-components-3-x-searchBarInnerContainer)
  :global(.vtex-input-prefix__group)
    :global(.vtex-styleguide-9-x-input),
:global(.vtex-store-components-3-x-searchBarInnerContainer)
  :global(.vtex-input-prefix__group)
    :global(.vtex-input__suffix){
    max-width: 550px;
    background-color: transparent;
    padding-right: 5px !important;
}




:global(.vtex-rich-text-0-x-link--necesitas){
  text-decoration: none;
  color: #000000;
}


:global(.vtex-store-components-3-x-searchBarInnerContainer)
  :global(.vtex-input-prefix__group){
    background-color: #f7f7f7;
}

:global(.vtex-store-components-3-x-searchIcon){
  color: #c1c1c1;
  width: 24px;
  height: 24px;
}

:global(.vtex-menu-2-x-styledLinkContent--mencompartir){
  color:#194681 !important;
  padding-top: 11px;  
}

:global(.vtex-menu-2-x-styledLinkContent--mencompartir)::before{
  content: url('https://ofixmx.vteximg.com.br/arquivos/share.png');
}


:global(.vtex-menu-2-x-styledLinkContainer--mencompartir){
    margin-right: 5.5rem;

}


:global(.vtex-account_menu-link),
:global(.vtex-my-account-1-x-dataEntryChildren),
:global(.vtex-my-account-1-x-newsletterContainerMessage),
:global(.vtex-my-account-1-x-boxContainerBody) .address-summary,
:global(.vtex-store-components-3-x-content){
    color: #000000 !important;
}

:global(.vtex-menu-2-x-accordionIcon--mencompartir),
:global(.vtex-menu-2-x-accordionIcon--titfoo){
  color:#ffffff;
}

:global(.vtex-my-account-1-x-menuLink){
  color: #000000;
}


:global(.vtex-slider-layout-0-x-imageElementLink--carwl){
  padding-top: 16px;
  margin-left: 5px;
  margin-right: 5px;
}


:global(.vtex-store-components-3-x-shareLabel){
  display: none;
}

@media (max-width: 1024px){
  :global(.vtex-store-components-3-x-searchBarInnerContainer) 
    :global(.vtex-input-prefix__group) 
      :global(.vtex-styleguide-9-x-input){
      max-width: 100%;
    }

  :global(.vtex-store-components-3-x-container ){
    padding-right: 5px;
    padding-left: 5px;
  }

  :global(.vtex-store-components-3-x-inputGroup--news)
    :global(.vtex-input-prefix__group),
  :global(.vtex-store-components-3-x-inputGroup--news)
    :global(.vtex-input-prefix__group)
      :global(.vtex-styleguide-9-x-input){
      height: 30px !important;
    }

  :global(.vtex-store-components-3-x-buttonContainer--news)
    :global(.vtex-button){
      min-height: 30px !important;
    }

  :global(.vtex-store-components-3-x-form--news){
    padding-left: 0% !important;
    padding-right: 0% !important;
  }

  :global(.vtex-flex-layout-0-x-flexRow--slibann){
    padding-top: 15px !important;
    padding-right: 0% !important;
    padding-left: 0% !important;

  }

  :global(.vtex-flex-layout-0-x-flexColChild--cart){
    padding-top: 5px;
  }

  :global(.vtex-login-2-x-container){
    padding-bottom: 3px;
  }


  :global(.vtex-rich-text-0-x-heading--necesario),
  :global(.vtex-rich-text-0-x-heading--titns) {
    text-align: center;
  }
 

  :global(.vtex-flex-layout-0-x-flexColChild--check)
    :global(.vtex-button){
      margin-top: 6px;
  }

  :global(.vtex-slider-layout-0-x-slide--banner)
    :global(.vtex-slider-layout-0-x-slideChildrenContainer--banner){
    padding-left: 0%;
    padding-top: 15px;
  }

  :global(.vtex-store-components-3-x-infoCardContainer--meses){
    margin-top: 25px;
  }

  :global(.vtex-menu-2-x-styledLink--catprinmen)
  :global(.vtex-menu-2-x-styledLinkContent--catprinmen){
    font-size: 13px !important;
  }

  :global(.vtex-store-locator-0-x-storesMapCol){
    display: none;
  }

  :global(.vtex-store-locator-0-x-storesListCol){
    width: 100% !important;
  }

  :global(.vtex-store-locator-0-x-backlinkContainer--regresarlocator){
    margin-bottom: 25px;
  }

  :global(.vtex-store-components-3-x-searchBarContainer){
    padding-top: 0 !important;
    padding-bottom: 0;
  }

  :global(.vtex-minicart-2-x-openIconContainer)
  :global(.vtex-button)
    :global(.vtex-button__label)::before{
      content: url(assets/carrito20px.png) !important;
  }

  :global(.vtex-login-2-x-container)
    :global(.vtex-button)
      :global(.vtex-button__label)::before{
       content: url(assets/usuario20px.png) !important;
       position: relative;
       top: 2px;
}

:global(.vtex-store-components-3-x-logoLink--logohome){
  text-align: center;
}

:global(.vtex-login-2-x-buttonLink)
  :global(.vtex-button)
    :global(.vtex-button__label){
      padding-left:0%;
    }


:global(.vtex-store-components-3-x-autoCompleteOuterContainer--srchdraw)
      :global(.vtex-input-prefix__group)
        :global(.vtex-styleguide-9-x-input){
          text-align: center !important;
          font-size: 12px !important;
        }


:global(.vtex-minicart-2-x-minicartQuantityBadge){
  width: 10px !important;
    height: 10px !important;
    font-size: 9px !important;
    right: -6px !important;
    top: -21px !important;
    background-color: #0075EC !important;
}

:global(.vtex-flex-layout-0-x-flexCol--trustcolresp){
  margin-bottom: 0% !important;
}

:global(.vtex-rich-text-0-x-heading--titns){
  margin-top: 0% !important;
}

:global(.vtex-store-components-3-x-inputGroup--news){
  display: inline-block;
  width: 100%;
}


:global(.vtex-store-components-3-x-inputGroup--news)
  :global(.vtex-input-prefix__group)
    :global(.vtex-styleguide-9-x-input){
      text-align: center;
    }

:global(.vtex-store-components-3-x-buttonContainer--news){
  margin-top: 15px;
  margin-bottom: 15px;
  padding-right: 4%;
}

:global(.vtex-store-components-3-x-buttonContainer--news)
  :global(.vtex-button)
    :global(.vtex-button__label){
      text-transform: capitalize;
    }



:global(.vtex-store-components-3-x-container--news){
  padding: 0% !important;
}

:global(.vtex-slider-layout-0-x-slideChildrenContainer--sepsli)
  :global(.vtex-store-components-3-x-imageElement){
    width: 30px;
  }

:global(.vtex-rich-text-0-x-container--siguenos){
  justify-content: center;
}

:global(.vtex-flex-layout-0-x-flexRowContent--smmobile)
  :global(.vtex-store-components-3-x-imageElementLink){
    text-align: center;
  }

:global(.vtex-flex-layout-0-x-flexColChild--socialmob){
  width: 100%;
}

:global(.vtex-rich-text-0-x-heading--titns){
  font-size: 30px;
}

:global(.vtex-rich-text-0-x-headingLevel1--tituloinst){
  font-size: 30px;
}

:global(.vtex-rich-text-0-x-paragraph--contenidoinst){
  padding-right: 0% !important;
  padding-left: 0% !important;
}


:global(.vtex-store-components-3-x-imageElement--imgwish){
  height: 20px !important;
  padding-left: 0% !important;
  padding-right: 6px !important;
  padding-top: 9px !important;
}

  
}



:global(.vtex-slider-layout-0-x-slideChildrenContainer--banner){
    padding-left: 0px;
} 



:global(.vtex-product-summary-2-x-description){
  padding-top: 3px;
  padding-bottom: 7px !important;
  padding-left:0%;
}

:global(.vtex-search-result-3-x-galleryItem--normal){
  flex-basis: 33% !important;
  max-width: 33% !important;
}


:global(.vtex-slider__right-value),
:global(.vtex-slider__left-value){
  color: #194681;
}

:global(.vtex-slider__selector),
:global(.vtex-slider__base-internal){
  background-color: #194681;
}

:global(.vtex-store-components-3-x-shippingContainer)
  :global(.vtex-button){
    background-color: #ffffff;
    border-color: #194681;
    color: #194681;
  }

:global(.vtex-store-components-3-x-shippingContainer)
  :global(.vtex-button)
    :global(.vtex-button__label){
      font-size: 0%;
}

:global(.vtex-store-components-3-x-shippingContainer)
  :global(.vtex-button)
    :global(.vtex-button__label)::before{
      content: "Calcular";
      font-size: 14px;
}


:global(.vtex-slider-layout-0-x-paginationDot--isActive){
  background-color: #194681;
}

:global(.vtex-slider-layout-0-x-slideChildrenContainer--banner){
  padding-left: 25px;
}
:global(.vtex-wish-list-1-x-wishlistIconContainer)
:global(.vtex-button){
  position: absolute;
    z-index: 2;
    top: 8px;
    right: 10px;
}

:global(.vtex-wish-list-1-x-wishlistIconContainer)
:global(.vtex-button)
:global(.vtex-button__label){
  display: none;  
}

:global(.vtex-wish-list-1-x-wishlistIconContainer)
:global(.vtex-button)::before{
  content: url(assets/wishlist16x16.png);
}

:global(.vtex-reviews-and-ratings-2-x-inlineContainer){
  margin-bottom: 0%;
}




:global(.vtex-flex-layout-0-x-flexColChild--productmain)
  :global(.vtex-store-components-3-x-shippingContainer)
    :global(.vtex-button){
      width: 163px !important;
      height: 32px !important;
      margin-top: 3px ;
      border-width: thin;
}

:global(.vtex-flex-layout-0-x-flexColChild--productmain)
  :global(.vtex-store-components-3-x-shippingContainer)
    :global(.vtex-button)
      :global(.vtex-button__label){
      text-transform: capitalize;
}

:global(.vtex-rich-text-0-x-paragraph--ahorra)::before{
  content: url(assets/right16x16.png);
  position: relative;
  top:2px
}

:global(.vtex-flex-layout-0-x-flexColChild--izq),
:global(.vtex-flex-layout-0-x-flexColChild--der){
  padding: 5px;
}

:global(.vtex-rich-text-0-x-headingLevel1--tituloinst),
:global(.vtex-store-components-3-x-caretIcon){
  color: #194681;
}

:global(.vtex-product-summary-2-x-description){
  text-align: justify;
}

:global(.vtex-product-summary-2-x-brandName){
  font-size: 16px;
}

:global(.vtex-product-summary-2-x-description){
  font-size: 15px;
  color: #444444;
}

:global(.vtex-product-price-1-x-sellingPriceValue--summary){
  font-size: 28px;
  font-weight: 500;
}

:global(.vtex-flex-layout-0-x-flexColChild--productmain)
  :global(.vtex-reviews-and-ratings-2-x-summaryContainer){
  padding-top: 15px;
  padding-bottom: 15px;
  }

  .shippingContainer{
    padding-top: 20px;
  }

  :global(.vtex-store-components-3-x-productImageTag--main){
    max-height: 450px !important;
  }

  :global(.vtex-flex-layout-0-x-flexRowContent--rowprod){
    padding-left: 10px;
    padding-right: 10px;
  }

  

  :global(.vtex-dropdown__container){
    height: 40px;
    width: 100%;
    border-color:  #1B5DB5;
    border-width: thin;
  }

  :global(.vtex-product-quantity-1-x-quantitySelectorContainer--cantprod){
    padding-top: 10px;
  }
/*--------------------- Inicio Tablet ------------------------*/
  :global(.vtex-flex-layout-0-x-flexColChild--colTablet){
    padding-bottom: 0px;
    height: auto !important;
  }

  :global(.vtex-flex-layout-0-x-flexCol--colTablet){
    border: 1px solid #e1e1e1;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 20px;
    padding-top: 20px;
    border-radius: 10px;
    height: auto !important;
  }
 

:global(.vtex-flex-layout-0-x-flexColChild--colTablet)
  :global(.vtex-flex-layout-0-x-flexRow--productname){
    padding-bottom: 10px;
  }

:global(.vtex-flex-layout-0-x-flexColChild--colTablet)
  :global(.vtex-product-quantity-1-x-quantitySelectorContainer--cantprod)
    :global(.vtex-product-quantity-1-x-quantitySelectorDropdownMobileContainer--cantprod)
      :global(.vtex-styleguide-9-x-dropdown)
        :global(.vtex-styleguide-9-x-container){
          width: 100%;
      }
:global(.vtex-flex-layout-0-x-flexRowContent--btnstab)
  :global(.vtex-flex-layout-0-x-stretchChildrenWidth)
    :global(.vtex-flex-layout-0-x-flexCol--btnahora)
      :global(.vtex-flex-layout-0-x-flexColChild--btnahora){
        margin-top: 0;
}

:global(.vtex-flex-layout-0-x-flexColChild--trustytab){
  text-align: center;
}

:global(.vtex-flex-layout-0-x-flexRow--rowtrust){
  margin-top: 25px;
  margin-bottom: 35px;
}
:global(.vtex-flex-layout-0-x-flexCol--trustytab){
  padding: 20px;
  background-color: #efefef;
  margin-left: 5px;
  margin-right: 5px;
}
 /*--------------------- Fin Tablet ------------------------*/

  /*--------------------- INICIO PHONE ------------------------*/

:global(.vtex-flex-layout-0-x-flexRow--rowpropsmob){
  border-radius: 10px;
  border: 1px solid #e1e1e1;
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 15px;
}

:global(.vtex-flex-layout-0-x-flexRowContent--menuprops){
  padding-left: 10px;
  padding-right: 10px;
  
}

:global(.vtex-menu-2-x-menuItemInnerDiv--menuprops){
  background-color: #194681;
}


:global(.vtex-menu-2-x-accordionIcon--menuprops--isClosed),
:global(.vtex-menu-2-x-accordionIcon--menuprops--isOpen){
  color: #ffffff;
}

:global(.vtex-store-components-3-x-productDescriptionTitle){
  display: none;
}

:global(.vtex-flex-layout-0-x-flexRow--descriphone){
  padding-right: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: justify;
}


:global(.vtex-menu-2-x-styledLinkContent--menuprops){
  padding-top: 5px;
  padding-bottom: 5px;  
}

:global(.vtex-flex-layout-0-x-flexColChild--colcarou)
  :global(.vtex-slider-layout-0-x-sliderLayoutContainer--categorias){
    padding-bottom: 17px;
    padding-left: 15px;
}
   /*--------------------- Fin PHONE ------------------------*/

  :global(.vtex-store-components-3-x-infoCardCallActionContainer--envio)
    :global(.vtex-button),
  :global(.vtex-store-components-3-x-infoCardCallActionContainer--meses)
    :global(.vtex-button){
     background-color: #194681;
     border: #194681;
   }

:global(.vtex-store-components-3-x-infoCardCallActionContainer--meses)
  :global(.vtex-button)
    :global(.vtex-button__label),
:global(.vtex-store-components-3-x-infoCardCallActionContainer--envio)
  :global(.vtex-button)
    :global(.vtex-button__label){
      text-transform: capitalize;
    }

    :global(.vtex-wish-list-1-x-wishlistIconContainer--wish-search)
      :global(.vtex-button){
        position: absolute;
        z-index: 2; 
        left: 267px;
        top: 1px;
    }

:global(.vtex-flex-layout-0-x-flexRow--trustresp){
  padding-top: 25px;
  padding-bottom: 25px;
}

:global(.vtex-flex-layout-0-x-flexCol--trustcolresp){
  background-color: #efefef;
  padding-bottom: 15px;
  padding-top: 15px;
  margin-top: 15ps;
  margin-bottom: 15px;
  margin-left: 5px;
  margin-right: 5px;
}

:global(.vtex-flex-layout-0-x-flexColChild--cart)
  :global(.vtex-button)
    :global(.vtex-button__label){
      display: none;
}

:global(.vtex-flex-layout-0-x-flexColChild--colTablet)
  :global(.vtex-store-components-3-x-shippingContainer)
    :global(.vtex-button){
      text-transform: capitalize !important;
    }


/*----------------------------------- Store Locator------------------------------*/
:global(.vtex-store-locator-0-x-storesListCol){
  max-height: 400px;
  min-height: 400px;
}

:global(.vtex-rich-text-0-x-wrapper--titdetalle)
  :global(.vtex-rich-text-0-x-heading-level-2),
:global(.vtex-rich-text-0-x-headingLevel2--titlm){
    color: #194681;
}

:global(.vtex-store-locator-0-x-storeName){
  color: #194681;
  font-weight: 600;
  margin-bottom: 15px;
}

:global(.vtex-store-locator-0-x-addressLink){
  text-decoration: none;
  color: #194681;
}

:global(.vtex-store-locator-0-x-addressContainer),
:global(.vtex-store-locator-0-x-hoursContainer){
  margin-bottom: 30px;
  margin-top: 30px;
}

:global(.vtex-store-components-3-x-shippingTableLabel){
  color: #000000;
}

/*----------------------------------- Store Locator------------------------------*/
:global(.vtex-flex-layout-0-x-flexRow--smcontent){
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}


:global(.vtex-store-components-3-x-backToTopButtonActive)
  :global(.vtex-button){
  background-color: #194681;
  border-color: #194681;
}

:global(.vtex-store-components-3-x-backToTopButtonContainer){
  margin-bottom: 4rem;
  right: 1.5rem !important;
}

:global(.vtex-rich-text-0-x-paragraph--contenidoinst){
  text-align: justify !important;
  padding-left: 5%;
  padding-right: 5%;
}

:global(.vtex-store-components-3-x-searchIcon){
  width: 0;
}

:global(.vtex-store-components-3-x-searchBarIcon)::before{
  content: url(assets/srchicon.png);
}

:global(.vtex-store-components-3-x-searchBarIcon--srchdraw){
  padding-top: 4px;
}